<p>
    Está com preguiça? Compramos o equipamento por você!
    <input type="checkbox" [(ngModel)]="isCheckedEquipamentos"> <br>
Se for um Conjurador quer que eu escolha suas magias?
<input type="checkbox" [(ngModel)]="isCheckedMagias">
<br>Quer se armar?
<input type="checkbox" [(ngModel)]="isCheckedArma">
<br> Homem <input type="checkbox" [(ngModel)]="isCheckedHomem"> Mulher<input type="checkbox" [(ngModel)]="isCheckedMulher">
<br>
</p>
<br>
<button (click)="novoAventureuro()">Novo Aventureiro (Caves)</button>


  <p>StatusEquipamento: {{ isCheckedEquipamentos ? 'Marcado' : 'Desmarcado' }}</p>
  <p>StatusMAgia: {{ isCheckedMagias ? 'Marcado' : 'Desmarcado' }}</p>
  <p>StatusArmas: {{ isCheckedArma ? 'Marcado' : 'Desmarcado' }}</p>
  <p>StatusHomem: {{ isCheckedHomem ? 'Marcado' : 'Desmarcado' }}</p>
  <p>StatusMulher: {{ isCheckedMulher ? 'Marcado' : 'Desmarcado' }}</p>
  
  


<h2>{{aventureiro.nome | uppercase}}</h2>
<div><span>Nome: </span>{{aventureiro.nome}}</div>
<div><span>FOR: </span>{{aventureiro.atributos.for}}</div>
<div><span>INT: </span>{{aventureiro.atributos.int}}</div>
<div><span>Dex: </span>{{aventureiro.atributos.des}}</div>
<div><span>Int </span>{{aventureiro.atributos.int}}</div>
<div><span>Sab: </span>{{aventureiro.atributos.sab}}</div>
<div><span>Car: </span>{{aventureiro.atributos.car}}</div>
