/* styles.css ou styles.scss */
body, html {
    height: 100%;
    margin: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
  }
  
  .container {
    text-align: center;
  }
  
  button {
    margin: 8px;
  }
  